USE [SFC]

CREATE TABLE [dbo].[Clientes_farmacia](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Telefono] [char](10) NULL,
	[Email] [char](30) NULL,
	[idObra_Social] [int] NULL,
	[idPlan] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[idGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Acceso] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[idMedicamento] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Medicamento] [char](50) NULL,
	[Cantidad] [int] NULL,
	[Stock] [int] NULL,
	[Lote] [char](10) NULL,
	[Precio] [int] NULL,
	[idProveedor] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Medicamentos] PRIMARY KEY CLUSTERED 
(
	[idMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metodos_de_pago]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metodos_de_pago](
	[idMetodo] [int] IDENTITY(1,1) NOT NULL,
	[Metodo] [nvarchar](30) NULL,
	[Recargo] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Metodos_de_pago] PRIMARY KEY CLUSTERED 
(
	[idMetodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obras_sociales]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obras_sociales](
	[idObraSocial] [int] IDENTITY(1,1) NOT NULL,
	[ObraSocial] [char](30) NOT NULL,
 CONSTRAINT [PK_Obras_sociales] PRIMARY KEY CLUSTERED 
(
	[idObraSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planes_obra_social]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planes_obra_social](
	[idPlan] [int] IDENTITY(1,1) NOT NULL,
	[NombrePlan] [char](30) NULL,
	[idObraSocial] [int] NULL,
	[PorcentajeDescuento] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Planes_obra_social] PRIMARY KEY CLUSTERED 
(
	[idPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](50) NULL,
	[CUIT] [nchar](11) NULL,
	[telefono] [char](10) NULL,
	[email] [char](50) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [char](30) NULL,
	[Nombre] [char](20) NULL,
	[idGrupo] [int] NULL,
	[Activo] [bit] NULL,
	[Usuario] [char](25) NULL,
	[Contraseña] [char](256) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Monto] [int] NULL,
	[IdCliente] [int] NULL,
	[IdUsuario] [int] NULL,
	[idMetodo] [int] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas_Medicamentos]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas_Medicamentos](
	[idVenta] [int] NOT NULL,
	[idMedicamento] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Ventas_Medicamentos] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC,
	[idMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes_farmacia] ON 

INSERT [dbo].[Clientes_farmacia] ([idCliente], [Nombre], [Apellido], [Telefono], [Email], [idObra_Social], [idPlan], [Activo]) VALUES (4, N'Esteban', N'Castañeda', N'3364247763', N'CastañedaEsteban@gmail.com    ', 2, 10, 1)
INSERT [dbo].[Clientes_farmacia] ([idCliente], [Nombre], [Apellido], [Telefono], [Email], [idObra_Social], [idPlan], [Activo]) VALUES (6, N'Luna Belen', N'Cabral', N'3364334489', N'lunabelen@gmail.com           ', 11, 46, 1)
INSERT [dbo].[Clientes_farmacia] ([idCliente], [Nombre], [Apellido], [Telefono], [Email], [idObra_Social], [idPlan], [Activo]) VALUES (8, N'Norberto', N'Camango', N'3364789121', N'norbertocam@yahoo.com.ar      ', 3, 18, 1)
SET IDENTITY_INSERT [dbo].[Clientes_farmacia] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupos] ON 

INSERT [dbo].[Grupos] ([idGrupo], [Acceso]) VALUES (1, 1)
INSERT [dbo].[Grupos] ([idGrupo], [Acceso]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[Grupos] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicamentos] ON 

INSERT [dbo].[Medicamentos] ([idMedicamento], [Codigo], [Medicamento], [Cantidad], [Stock], [Lote], [Precio], [idProveedor], [Activo]) VALUES (20, N'MED1000', N'Amoxicilina 500mg                                 ', 65, 62, N'N2A01     ', 4256, 1, 1)
INSERT [dbo].[Medicamentos] ([idMedicamento], [Codigo], [Medicamento], [Cantidad], [Stock], [Lote], [Precio], [idProveedor], [Activo]) VALUES (21, N'MED1001', N'Loratadina 10mg                                   ', 60, 59, N'A1B2C3    ', 3000, 1, 1)
INSERT [dbo].[Medicamentos] ([idMedicamento], [Codigo], [Medicamento], [Cantidad], [Stock], [Lote], [Precio], [idProveedor], [Activo]) VALUES (23, N'MED1002', N'Omeprazol 20mg                                    ', 58, 57, N'A5B32     ', 5794, 3, 1)
SET IDENTITY_INSERT [dbo].[Medicamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Metodos_de_pago] ON 

INSERT [dbo].[Metodos_de_pago] ([idMetodo], [Metodo], [Recargo]) VALUES (1, N'Efectivo', CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[Metodos_de_pago] ([idMetodo], [Metodo], [Recargo]) VALUES (2, N'Transferencia', CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[Metodos_de_pago] ([idMetodo], [Metodo], [Recargo]) VALUES (3, N'Tarjeta de débito', CAST(0.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Metodos_de_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Obras_sociales] ON 

INSERT [dbo].[Obras_sociales] ([idObraSocial], [ObraSocial]) VALUES (1, N'Galeno                        ')
INSERT [dbo].[Obras_sociales] ([idObraSocial], [ObraSocial]) VALUES (2, N'Swiss Medical                 ')
INSERT [dbo].[Obras_sociales] ([idObraSocial], [ObraSocial]) VALUES (3, N'Medicus                       ')
SET IDENTITY_INSERT [dbo].[Obras_sociales] OFF
GO
SET IDENTITY_INSERT [dbo].[Planes_obra_social] ON 

INSERT [dbo].[Planes_obra_social] ([idPlan], [NombrePlan], [idObraSocial], [PorcentajeDescuento]) VALUES (1, N'200                           ', 1, CAST(35.00 AS Decimal(5, 2)))
INSERT [dbo].[Planes_obra_social] ([idPlan], [NombrePlan], [idObraSocial], [PorcentajeDescuento]) VALUES (2, N'220                           ', 1, CAST(35.00 AS Decimal(5, 2)))
INSERT [dbo].[Planes_obra_social] ([idPlan], [NombrePlan], [idObraSocial], [PorcentajeDescuento]) VALUES (3, N'300                           ', 1, CAST(40.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Planes_obra_social] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([idProveedor], [RazonSocial], [CUIT], [telefono], [email]) VALUES (1, N'Morinaga SRL', N'2032145821 ', N'3364332672', N'morinaga@morinagasrl.hotmail.com                  ')
INSERT [dbo].[Proveedores] ([idProveedor], [RazonSocial], [CUIT], [telefono], [email]) VALUES (3, N'Drogueria Rodriguez', N'2037892183 ', N'3364288765', N'rodriguezSA@hotmail.com                           ')
INSERT [dbo].[Proveedores] ([idProveedor], [RazonSocial], [CUIT], [telefono], [email]) VALUES (1002, N'La Alemana SRL', N'30664936419', N'3364567123', N'alemana.adm@gmail.com                             ')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [Apellido], [Nombre], [idGrupo], [Activo], [Usuario], [Contraseña]) VALUES (3, N'Zambiazzo                     ', N'Lucas               ', 1, 1, N'lzambiazzo               ', N'bd012f1fd5b3893079193ee75a9cb9b55393bfeb86dba1d2ab6c87f1fd536e6f                                                                                                                                                                                                ')
INSERT [dbo].[Usuarios] ([idUsuario], [Apellido], [Nombre], [idGrupo], [Activo], [Usuario], [Contraseña]) VALUES (12, N'Ramirez                       ', N'Maria               ', 2, 1, N'mariaramirez             ', N'76f3f7acfcf0b9b511e08f98510d575fe946d0d1e7d6d20b861dbd5c52d2ed9a                                                                                                                                                                                                ')
INSERT [dbo].[Usuarios] ([idUsuario], [Apellido], [Nombre], [idGrupo], [Activo], [Usuario], [Contraseña]) VALUES (13, N'Lombardi                      ', N'Susana              ', 2, 1, N'susanalom                ', N'60707a1bd0e8053e1fd4e745b73f4cef3f5227f3578334b305bab03080eee515                                                                                                                                                                                                ')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([idVenta], [Fecha], [Monto], [IdCliente], [IdUsuario], [idMetodo]) VALUES (1, CAST(N'2025-06-05' AS Date), 10453, 6, 3, 1)
INSERT [dbo].[Ventas] ([idVenta], [Fecha], [Monto], [IdCliente], [IdUsuario], [idMetodo]) VALUES (2, CAST(N'2025-06-09' AS Date), 10453, 6, 3, 2)
INSERT [dbo].[Ventas] ([idVenta], [Fecha], [Monto], [IdCliente], [IdUsuario], [idMetodo]) VALUES (3, CAST(N'2025-06-11' AS Date), 6465, 8, 3, 1)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
INSERT [dbo].[Ventas_Medicamentos] ([idVenta], [idMedicamento], [Cantidad]) VALUES (1, 28, 1)
INSERT [dbo].[Ventas_Medicamentos] ([idVenta], [idMedicamento], [Cantidad]) VALUES (2, 28, 1)
INSERT [dbo].[Ventas_Medicamentos] ([idVenta], [idMedicamento], [Cantidad]) VALUES (3, 20, 1)
GO
ALTER TABLE [dbo].[Clientes_farmacia] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes_farmacia]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_farmacia_Obras_sociales] FOREIGN KEY([idObra_Social])
REFERENCES [dbo].[Obras_sociales] ([idObraSocial])
GO
ALTER TABLE [dbo].[Clientes_farmacia] CHECK CONSTRAINT [FK_Clientes_farmacia_Obras_sociales]
GO
ALTER TABLE [dbo].[Clientes_farmacia]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_farmacia_Planes_obra_social] FOREIGN KEY([idPlan])
REFERENCES [dbo].[Planes_obra_social] ([idPlan])
GO
ALTER TABLE [dbo].[Clientes_farmacia] CHECK CONSTRAINT [FK_Clientes_farmacia_Planes_obra_social]
GO
ALTER TABLE [dbo].[Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Medicamentos_Proveedores] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[Medicamentos] CHECK CONSTRAINT [FK_Medicamentos_Proveedores]
GO
ALTER TABLE [dbo].[Planes_obra_social]  WITH CHECK ADD  CONSTRAINT [FK_Planes_obra_social_Obras_sociales] FOREIGN KEY([idObraSocial])
REFERENCES [dbo].[Obras_sociales] ([idObraSocial])
GO
ALTER TABLE [dbo].[Planes_obra_social] CHECK CONSTRAINT [FK_Planes_obra_social_Obras_sociales]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Grupos] FOREIGN KEY([idGrupo])
REFERENCES [dbo].[Grupos] ([idGrupo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Grupos]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([idMetodo])
REFERENCES [dbo].[Metodos_de_pago] ([idMetodo])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes_farmacia] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes_farmacia] ([idCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes_farmacia]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios1]
GO
ALTER TABLE [dbo].[Ventas_Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Medicamentos_Medicamentos] FOREIGN KEY([idMedicamento])
REFERENCES [dbo].[Medicamentos] ([idMedicamento])
GO
ALTER TABLE [dbo].[Ventas_Medicamentos] CHECK CONSTRAINT [FK_Ventas_Medicamentos_Medicamentos]
GO
ALTER TABLE [dbo].[Ventas_Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Medicamentos_Ventas] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Ventas] ([idVenta])
GO
ALTER TABLE [dbo].[Ventas_Medicamentos] CHECK CONSTRAINT [FK_Ventas_Medicamentos_Ventas]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCliente]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarCliente]
    @IdCliente INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Telefono NVARCHAR(50),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(200),
    @idObra_Social INT,
    @Plan_obra_social NVARCHAR(100),
    @idCiudad INT
AS
BEGIN
 SET NOCOUNT ON;

    UPDATE Clientes_farmacia
    SET Nombre = @Nombre, Apellido = @Apellido, Telefono = @Telefono, Email = @Email,
        Direccion = @Direccion, idObra_Social = @idObra_Social, Plan_obra_social = @Plan_obra_social,
        idCiudad = @idCiudad
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 17/3/2026 19:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarCliente]
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Telefono NVARCHAR(50),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(200),
    @idObra_Social INT,
    @Plan_obra_social NVARCHAR(100),
    @idCiudad INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Clientes_farmacia (Nombre, Apellido, Telefono, Email, Direccion, idObra_Social, Plan_obra_social, idCiudad)
    VALUES (@Nombre, @Apellido, @Telefono, @Email, @Direccion, @idObra_Social, @Plan_obra_social, @idCiudad);
END;
GO
USE [master]
GO
